---
layout: default
meta:
  image:
    path: /img/cognitive-logo-w300.webp
    width: 1500
    height: 668
features:
  testimonials: true
  portfolio: true
  parallaxjs: true
---
<div class="header-frame">
  <video preload="auto" autoplay loop muted playsinline poster="/vid/trees.poster.jpg" class="header-media overflow-hidden">
    <!-- todo later: responsive breakpoint on video to switch from width vs height max needs to take into consideration media sizes -->
    <!--
    <source src="/vid/trees.360.mp4" type="video/mp4" media="all and (max-width: 360px)" />
    <source src="/vid/trees.480.mp4" type="video/mp4" media="all and (max-width: 480px)" />
    <source src="/vid/trees.720.mp4" type="video/mp4" media="all and (max-width: 720px)" />
    -->
    <source src="/vid/trees.1080.mp4" type="video/mp4" media="all" />
  </video>
</div>
<!-- // logo scroll
Kognition, Intermodal Structures, Photopharmics, Goldman Sachs, Clarip

-->

    <!-- y=" t6 w-100 mt7 pt4" -->
<div class="header-overlay vh100">
  <div class="flex-l flex-m justify-center w-100 mt7">
    <picture class="">
      <source type="image/webp" srcset="/img/cognitive-logo-w300.webp" class="responsive" width="200px" />
      <img src="/img/cognitive-logo-w300.png" class="responsive" width="200px" />
    </picture>
    <div class="tl-m tl-l ml4-m ml4-l"><!-- class="tc tl-m tl-l ml4-l ml4-m mt4 mt2-l mt2-m"-->
      <div class="f1 fw4 text-halo white ttu" style="font-family: 'Nanum Gothic'; font-weight: 700">Cognitive</div>
      <div class="f4 fw4 text-halo white i" style="font-family: 'Nanum Gothic'; font-weight: 700">Your Capital Networking Partner</div>
    </div>
  </div>
  <div class="arrow-down self-end"><a href="#jump"><i class="fas fa-angle-double-down"></i></a></div>
</div>
<a name="jump"></a>
<div class=" pa0 ma0">
  <div class="mv0 mv5-l ph1 ph7-x ph4-l tl">
    {% include portfolio.html %}
    <!--
    <div class="flex-l justify-center-l">
      <div class="flex items-start justify-center pv4 w-50-l ">
        <div class="flex items-center justify-center ">
          <div class="mh1 mh3-m mh3-l">
            <i class="fas fa-brain color-primary" style="font-size: 8rem;"></i>
          </div>
          <div class="f4 light-tint self-center bw3 ph3 ml3" style="font-family: times">
            <div class="f3 fw6">cog·ni·tive</div>
            <div style="font-family: 'Roboto',arial,sans-serif; silver">/ˈkäɡnədiv/</div>
            <div><span class="i">adjective;</span> The act or process of knowing.</div>
          </div>
        </div>
      </div>
      <div class="testimonials w-50-l">
        <div class="flex justify-center">
          <div class="color-underlay"></div>
          <div class="quotemark mt1 mt3-l ml1 ml3-l fas fa-quote-left"></div>
          <div class="slider w-100 pr1 pr2-m pr3-l mt1 mt3-m mt3-l mr3-m mr3-l">
            <div class="mask">
              <script language="Javascript">let tslides = []</script>
              <ul>
              {% assign nbr = 0 %}
              {% for tmon in site.data.testimonials %}
                {% assign nbr = nbr | plus: 1 %}
                <script language="Javascript">tslides.push("#t-slide{{nbr}}")</script>
                <li id="t-slide{{nbr}}" class="slide">
                  <div class="slide-box">
                    <div class="quote mt0 pt0 ph1 ph2-l pr1 pr2-l f3-ns f4-m f3-l">{{ tmon.quote }}</div>
                    <div class="source flex items-end ml2 mr3 mb1">
                      {% if tmon.headshot %}
                      <img src="{{tmon.headshot}}" />
                      {% endif %}
                      <div class="ml1 ml2-m ml2-l">
                        <div class="name">{{tmon.name}}</div>
                        <div class="title f5">{{tmon.title}}</div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="tail mt1 mt2-m mt2-l"></div>
      </div>
    </div>
    -->

  </div>
</div>
{% comment %}
 % parallax is not working (grr) -- might be conflicting styles w/all the css %
<div class="flex-l items-center-l mv4">
  <div class="ph0 w-50-l parallax-window" data-parallax="scroll" data-image-src="/img/over.jpg" style="height: 600px" data-z-index="50000">
    &nbsp;
  </div>
{% endcomment %}

{% assign iter = 1 %}
{% for topic in site.data.home-topics %}
<a name="{{ topic.linkto }}"></a>
{% assign mod = iter | modulo: 2 %}
{% if mod == 0 %}
{% assign reverse = "flex-row-reverse" %}
{% else %}
{% assign reverse = "" %}
{% endif %}
{% assign iter = iter | plus: 1 %}
<div class="home-topic flex-l items-center-l mv4 {{reverse}}" id="topic-expand{{iter}}">
  <div class="ph0 w-50-l image overflow-hidden" {{ topic.image.frame-attr }}>
    <img src="{{ topic.image.file }}" {{ topic.image.img-attr }}>
  </div>
  <div class="summary pb5-ns ph3 ph5-l w-50-l">
    <div class="tl">
      <h1 class="f3 f2-l fw6 mb0 tc"><i class="fas fa-{{topic.icon }} ph3"></i> {{ topic.heading }}</h1>
    </div>
    <div class="tl">
      {{ topic.summary }}
      {% if topic.more %}
      <div class="pt4 tc">
        <a href="javascript:expandTopic('#topic-expand{{iter}}')" class="w-100 db">
          <div class="br-100 ba dib" style="height: 30px; width: 30px"><i class="fas fa-plus"></i></div>
          Learn More! &nbsp;
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% if topic.more %}
  <div class="detail hidden">
    <div class="ph6-l ph5">
      <div class="tc">
        <h1 class="f3 f2-l fw6 mb0 tc"><i class="fas fa-{{topic.icon }} ph3"></i> {{ topic.heading }}</h1>
      </div>
      {% if topic.more.file %}
      {% include {{topic.more.file}} %}
      {% else %}
      {{ topic.more }}
      {% endif %}
    </div>
    <a href="javascript:shrinkTopic('#topic-expand{{iter}}')" class="closebar flex items-center justify-center db pv3 mv2">
      <i class="fas fa-times ph2"></i>
      Less Info
    </a>
  </div>
  {% endif %}
</div>
{% endfor %}
<script language="Javascript">
  function expandTopic(idkey) {
    $(idkey).addClass("expanded")
  }
  function shrinkTopic(idkey) {
    $(idkey).removeClass("expanded")
  }
</script>
