
  <div id="portfolio" class="flex justify-center mt4 ba b--blue">
    <div class="slider pr1 pr2-m pr3-l mt1 mt3-m mt3-l mr3-m mr3-l ba b--red">
        <script language="Javascript">let pslides = []</script>
        {% assign nbr = 0 %}
        {% for company in site.data.portfolio %}
          {% assign nbr = nbr | plus: 1 %}
          <script language="Javascript">pslides.push("#p-slide{{nbr}}")</script>
          <div id="p-slide{{nbr}}" class="panel ba b--green">
            <a href="{{company.site}}"><img src="{{company.logo}}" style="height: 200px;" /></a>
          </div>
        {% endfor %}
    </div>
  </div>
