<div class="flex-l justify-center-l">
  <div class="testimonials w-50-l">
    <div class="flex justify-center">
      <div class="color-underlay"></div>
      <div class="quotemark mt1 mt3-l ml1 ml3-l fas fa-quote-left"></div>
      <div class="slider w-100 pr1 pr2-m pr3-l mt1 mt3-m mt3-l mr3-m mr3-l">
        <div class="mask">
          <script language="Javascript">let tslides = []</script>
          <ul>
          {% assign nbr = 0 %}
          {% for tmon in site.data.testimonials %}
            {% assign nbr = nbr | plus: 1 %}
            <script language="Javascript">tslides.push("#t-slide{{nbr}}")</script>
            <li id="t-slide{{nbr}}" class="slide">
              <div class="slide-box">
                <div class="quote mt0 pt0 ph1 ph2-l pr1 pr2-l f3-ns f4-m f3-l">{{ tmon.quote }}</div>
                <div class="source flex items-end ml2 mr3 mb1">
                  {% if tmon.headshot %}
                  <img src="{{tmon.headshot}}" />
                  {% endif %}
                  <div class="ml1 ml2-m ml2-l">
                    <div class="name">{{tmon.name}}</div>
                    <div class="title f5">{{tmon.title}}</div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tail mt1 mt2-m mt2-l"></div>
  </div>
  <div class="flex items-start justify-center pv4 w-50-l">
    <div class="flex items-center justify-center ">
      <div class="mh1 mh3-m mh3-l">
        <i class="fas fa-brain color-primary" style="font-size: 8rem;"></i>
      </div>
      <div class="f4 light-tint self-center bw3 ph3 ml3" style="font-family: times">
        <div class="f3 fw6">cog·ni·tive</div>
        <div style="font-family: 'Roboto',arial,sans-serif; silver">/ˈkäɡnədiv/</div>
        <div><span class="i">adjective;</span> The act or process of knowing.</div>
      </div>
    </div>
  </div>
</div>
