<div class="testimonials2">
  <div id="testimonialSlider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
  <div class="flex justify-center mt4">
    <div class="quotemark ml2 ml3-m ml5-l mt2 mt3-m mt3-l fas fa-quote-left"></div>
    <div class="color-underlay"></div>
    <div class="tail self-end mt1 mt2-m mt2-l"></div>
    <div class="carousel-inner">
      <div class="slider pr1 pr2-m pr3-l mt1 mt3-m mt3-l mr3-m mr3-l">
        <div class="mask">
          {% assign active = "active" %}
          {% for card in site.data.testimonials %}
          <div class="carousel-item {{ active }} flex items-center">
            {% assign active = "hidden" %}
            <div class="slide-box">
              <div class="quote pa1 pa2-m pa2-l">{{ card.quote }}</div>
              <div class="source flex items-end">
                {% if card.headshot %}
                <img src="{{card.headshot}}" class=" pl1 pl2-m pl2-l" />
                {% endif %}
                <div class="ml1 ml2-m ml2-l">
                  <div class="name">{{card.name}}</div>
                  <div class="title f5">{{card.title}}</div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
