<div class="flex-l mt3">
  <div class="w-50-l ">
    <p/>We use a human-centered cycle starting with understanding your needs,
    then moving foreward to creatively explore options and choose the most
    powerful solution for your business.

    <p/>This follows a Design Thinking approach that helps us find the
    right solutions to your problems.   Design Thinking is a solution-focused
    process that models the efficient ways designers and architects work
    through some of the world's most challenging problems.

    <p/>This is iterative, and we revisit each step where necessary, to help
    us find your needed solution as fast as possible.
    It begins by <b>Empathizing</b> with your needs,
    followed by a cycle of <b>Creativity</b> where we work with your team to
    identify options, and concluding with <b>Rationality</b> as we help you
    choose, implement, and then learn.

    <p/>
    <div>
      Continued Learning on Design Thinking and UX:
      <ul>
        <li><a href="https://amzn.to/2pUC080">Change by Design</a>, Tim Brown</li>
        <li><a href="https://dschool.stanford.edu/resources/dschool-reading-list">Stanford's d.school Reading List</a></li>
        <li><a href="https://amzn.to/2qNdCWz">Activator: Success in Technology with Design Thinking</a>, Brandon Gillespie</li>
        <li><a href="https://amzn.to/2pVPfFO">About Face: The Essentials of Interaction Design</a>, Alan Cooper</li>
      </ul>
    </div>
  </div>
  <div class="timeline-left"></div>
  <div class="timeline w-50-l mt4 mt0-l">
    <div id="timeline">
    {% for phase in site.data.designthinking %}
      <div class="timeline-item">
        <div class="timeline-icon flex items-center justify-center white f3 bg-{{ phase.color }} ma0">
          {{ phase.svg }}
        </div>
        <div class="timeline-content">
          <div class="header white bg-{{ phase.color }} fw6">{{ phase.title }}</div>
          <div class="body mb3 bg-near-white pa3 f5">
            {{ phase.info }}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
