/*
.dropdown-menu {
  display: hidden;
}
*/
/*
.menu-container {
    margin: 11px 0;
    padding-left: 5px;
    background-color: #ffffff;
}
.menu-container ul li ul.sub-menu {
    float:left;
    padding:10px;
    margin:0;
    padding-left: 0;
    padding-top: 17px;
}
.menu-container ul li#menu-item-col1::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F46C80;
    margin-top: 0;
    transition: width .3s;
}
.menu-container ul li#menu-item-col1:hover::after {
    width: 40px;
}

.menu-container ul li#menu-item-col2::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00cfbb;
    margin-top: 0;
    transition: width .3s;
}
.menu-container ul li#menu-item-col2:hover::after {
    width: 52px;
}

.menu-container ul li#menu-item-col3::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #6857B2;
    margin-top: 0;
    transition: width .3s;
}
.menu-container ul li#menu-item-col3:hover::after {
    width: 74px;
}

.menu-container ul li#menu-item-col1 ul li a:hover::after, .menu-container ul li#menu-item-col2 ul li a:hover::after, .menu-container ul li#menu-item-col3 ul li a:hover::after {
    content: none;
}
.menu-container ul li ul li a:hover::after {
    width: auto;
}

.menu-container ul > li:hover ul li a  {
    border-bottom: 0;
    color:#212121;
}

.menu-container ul li {
    display: inline-block;
    width: 31%;
}
.menu-container ul li ul.sub-menu li a:hover {
    color:#6857b2;
    font-weight: bold;
}
.menu-container ul li#menu-item-col2 ul.sub-menu li a:hover {
    color:#00cfbb;
    font-weight: bold;
}
.menu-container ul li#menu-item-col1 ul.sub-menu li a:hover {
    color:#F46C80;
    font-weight: bold;
}

.menu-container ul li a {
    font-size: 15px;
    color:#212121;
    font-weight: bold;
    padding-bottom: 10px;
}

.menu-container ul li ul li a {
    font-weight: normal;
    font-size: 14px;
    color:#9e9e9e;
}
.menu-container ul li ul li {
    width: 100%;
    margin-top: 0;
    line-height: 34px;
}

.links_right_menu a {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    width: 134px;
    text-align: center;
    margin-top: 12px;
    text-transform: uppercase;
    margin-left: 20px;
}
*/
/*
#navbar-top #nav-menu {
  .modal-dialog {
    padding-top: 54px;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  .modal-body {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}
*/
