$timeline-color: $primary-color;

%clearfix {
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}

#timeline {
	width: 100%;
	position: relative;
	@include prefix(transition, all .4s ease);
	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}
	.timeline-item {
		&:not(:last-child) {
			&::before {
				content:"";
				height: 100%;
				border-left: dotted 3px #ccc;
				top: 0;
				position: absolute;
			}
		}
		position: relative;
		@extend %clearfix;
		.timeline-icon {
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			left: 0; // 50%;
			overflow: hidden;
			margin-left: -23px;
			@include prefix(border-radius, 50%);
			svg {
				position: relative;
				top: 14px;
				left: 14px;
			}
		}
		.timeline-content {
			border: solid 1px transparent; // wierd spacing without border
			margin-left: 50px;
			background: #fff;
			@include prefix(transition, all .3s ease);
			.header {
				padding: 12px 12px 12px 20px;
				@include prefix(border-radius, 15px 15px 0 0);
			}
			.body {
				@include prefix(border-radius, 0 0 15px 15px);
				border-bottom: solid 2px #aaa;
				border-right: solid 1px #aaa;
			}
		}
	}
}
