---
layout: default
---
<section class="parallax-window header dark-tint50" data-parallax="scroll" data-image-src="/events/events.jpg">
  <div class="parallax-text">
    <div class="d-inline-flex mx-sm-8" style="padding-bottom: 100px">
      <div class="col">
        <div class="parallax-text text-center heading">
<h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
<div class="container">
<div class="row mx-sm-2 mx-md-4 mx-lg-8 my-sm-4">
<div class="col-md">
<event-detail class="text-left">
<ev-item>
<ev-head>
<ev-title>{{ page.title }}</ev-title>
<ev-subtitle>{{ page.subtitle }}</ev-subtitle>
{% if page.when %}
<ev-header><b>When:</b> {{ page.when }}</ev-header>
{% endif %}
{% if page.admission %}
<ev-header><b>Admission:</b>  {{ page.admission }}
  {% if page.registration %}
   <a href="{{ page.registration }}" class="btn btn-small btn-outline-primary btn-p300">Register</a>
  {% endif %}
</ev-header>
{% endif %}
{% if page.location.name %}
<ev-header>
<b>Where:</b>
{% if page.location.url %}
<a href="{{ page.location.url }}">{{ page.location.name }}</a>
{% else %}
{{ page.location.name }}
{% endif %}
</ev-header>
{% endif %}
{% if page.location.address %}
<ev-header>
<b>Address:</b> {{ page.location.address }}
</ev-header>
{% endif %}
</ev-head>
<ev-body>
{{ content }}
{% if event.type == schedule and event.epic %}
<a href="/events/{{ event.epic }}/" class="btn btn-small btn-outline-primary btn-p300">
Epic
{{ events[event.epic].title }}
{% endif %}
</a>
</ev-body>
</ev-item>
</event-detail>
</div>
<div class="col-md">
{% if page.img %}
<div>
<img src="{{ page.img }}" class="img-fluid">
</div>
{% endif %}
{% if page.location.maps-iframe %}
<div class="embed-responsive embed-responsive-16by9">
{{ page.location.maps-iframe }}
</div>
{% endif %}
</div>
</div>
<div class="row mx-sm-2 mx-md-4 mx-lg-8 my-sm-4">
<div class="col-md">
<a href="/events/" class="btn btn-outline-primary"><i class="fas fa-angle-double-left"></i> Back to Events</a>
</div>
</div>
</div>
</section>
